.navbar-brand img {
	margin-top: -12px;
	width:65px;
}

.jumbotron h1{ 
	font-size: 50px;	
	color: #660; 
	padding: 10px 0;
	font-family: ff-meta-serif-web-pro-1, ff-meta-serif-web-pro-2, Cambria, Georgia, serif;
}

h3{ 
	font-family: ff-meta-serif-web-pro-1, ff-meta-serif-web-pro-2, Cambria, Georgia, serif;
	margin-top: 5px;
	margin-bottom: 15px;
}

.col-md-4 {
	box-shadow: 0px 0px 6px 0px #666;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 25px;
	padding-bottom: 15px;
	
}

a{ 
	font-family: ff-meta-serif-web-pro-1, ff-meta-serif-web-pro-2, Cambria, Georgia, serif;
}

@media (min-width: 992px) { 

.col-md-4 {
	margin-right: 10px;
	margin-left: 10px;
	width: 31%;
	}
}

.col-md-4 p {
	margin-bottom: 0px;
}


@media screen and (min-width: 768px) {
  .jumbotron {
    padding-bottom: 15px;
  }
}

.jumbotron {
    padding-bottom: 0px;
	padding-top: 35px;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
	color: #990;
}

.btn-primary {
	background-color: #990;
	border-color: #990;
	color: #101010;
}

.btn-primary:hover{
	background-color: #101010;
	border-color: #101010;
	color: #fff;
}

#homePageMainImage {
	width: 100%;
}

.angular, .css3, .html5, .javascript, .jquery, .node, .react{
	background: url('./../assets/images/sprites.png') no-repeat;
	display: inline-block;
	background-color: #fff;
	margin: 10px 20px;
	padding: 5px;
	box-shadow: 7px 5px 16px 0px #333;
	border-radius: 5px;
}

.angular{
	background-position: -219px -380px ;
	width: 95px;
	height: 100px;
}

.css3{
	background-position: -105px -379px ;
	width: 100px;
	height: 100px;
}

.html5{
	background-position: 0 -380px ;
	width: 100px;
	height: 100px;
}

.javascript{
	background-position: -460px 0;
	width: 100px;
	height: 100px;
}

.jquery{
	background-position: -347px 0;
	width: 100px;
	height: 100px;
}

.node{
	background-position: -114px 0;
	width: 208px;
	height: 100px;
}

.react{
	background-position: 0 0;
	width: 100px;
	height: 100px;
}


// ecommerce - FT.com

subs,
paywall

not content role ---  monolotic

breaking it down 

new technologies - refactoring 

60 people (  )

sep presentation layer. 

node ---  b2b sign up (node - login , my account);