.navbar-brand img {
	margin-top: -12px;
	width:65px;
	
}


.jumbotron h1{ 
	font-size: 50px;	
}





// ecommerce - FT.com

subs,
paywall

not content role ---  monolotic

breaking it down 

new technologies - refactoring 

60 people (  )

sep presentation layer. 

node ---  b2b sign up (node - login , my account);